/*
Reference: https://getcssscan.com/css-buttons-examples
Button 64
*/
body {
    padding: 5px;
    font-weight: bold;
    background-color: #9dff94;
}


button {
   padding: 6px 6px;
   font-family: 'Orbitron', sans-serif;
   border-radius: 6px;
   border: none;
   width: 150px;
   font-weight: bold;
    margin-top: 5px;

   color: #8200ff;
   background: linear-gradient(75deg , #2BC0E4 0%, #11fff8 50%, #06ffd2 75%, #0ffafa 100%);
   background-origin: border-box;
}

#volumeSlider{
    width: 150px;
    font-weight: bold;
}

output {
    font-family: 'Orbitron', sans-serif;
    font-size: small;
    color: #ff00f2;
    border: black;
}

